@media (max-width: 739px) {
    .slider-info {
        display: none;
    }
    .contact__2input {
        flex-direction: column;
    }
    .input-infor {
        width: 100%;
        margin-top: 10px;
    }
    .navication {
        display: block;

    }
    /* .header {
        height: unset;
    } */
    .navication__icon {
        display: none;
    }
    .navication__list-icon {
        display: block;
    }
    .navication__item {
        display: block;
    }
    .location-item {
        margin-bottom: 14px;
    }
    .header {
        overflow: hidden;
    }
}